@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.calculator {
   
    border-radius: 1em;
    height: 380px;
    width: 370px;
    margin-left: 35%;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color:#e5e5e5;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 85%;
    height: 60%;
    margin-left: 15px;
}
#btn {
    background-color: red;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color:black;
    color:white;
    border: solid white 0.5px;
    width:50%;
    border-radius: 5px;
    height: 70%;
    outline: none;
    margin:15px;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;

}
.h1{
    text-align:center;
    font-size:30px;
    color:#fb0066;
    margin-top:10px;
    font-family:sans-serif;
}
button{
    padding: 7px;
}